import_targets: false
redirects: off
references: strict

source https://nuget.org/api/v2

nuget NuGet.CommandLine
nuget FAKE
nuget FAKE.Lib
nuget FAKE.Dotnet

github dolly22/FAKE.Gitsemver Gitsemver.fsx

