@addTagHelper *, AspNetCore.VersionedAssets
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>SPA</title>
  <link rel="icon" type="image/x-icon" href="~/favicon.ico" asset-version="file" />
  <link rel="stylesheet" href="~/bundles/site.css" asset-version="file" />
</head>
<body>
  <script src="~/bundles/app.js" asset-version="file"></script>
</body>
</html>
